<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Đổi mật khẩu')}"></head>
<body>
<nav th:replace="~{fragments/layout :: navbar}"></nav>
<main class="container pb-5">
	<div th:replace="~{fragments/layout :: flash}"></div>
	<div class="card card-narrow">
		<div class="card-body">
			<h1 class="h4 mb-3">Đổi mật khẩu</h1>
			<form th:action="@{/customer/password}" th:object="${form}" method="post" id="password-form" novalidate>
				<div th:replace="~{fragments/form :: globalErrors}"></div>
				<div th:replace="~{fragments/form :: field('Mật khẩu hiện tại', 'currentPassword', 'password')}"></div>
				<div th:replace="~{fragments/form :: field('Mật khẩu mới', 'newPassword', 'password')}"></div>
				<div th:replace="~{fragments/form :: field('Nhập lại mật khẩu mới', 'confirmPassword', 'password')}"></div>
				<button type="submit" id="btn-change-password" class="btn btn-primary">Đổi mật khẩu</button>
			</form>
		</div>
	</div>
</main>
</body>
</html>
